<a href="https://colab.research.google.com/github/lukaszplust/data-science-learn/blob/main/151_160_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas

### Spis treści:
* [Import biblioteki](#0)
* [Ćwiczenie 151](#1)
* [Ćwiczenie 152](#2)
* [Ćwiczenie 153](#3)
* [Ćwiczenie 154](#4)
* [Ćwiczenie 155](#5)
* [Ćwiczenie 156](#6)
* [Ćwiczenie 157](#7)
* [Ćwiczenie 158](#8)
* [Ćwiczenie 159](#9)
* [Ćwiczenie 160](#10)

### <a name='0'></a>Import biblioteki

In [2]:
import numpy as np
import pandas as pd

np.random.seed(42)
np.__version__

'1.21.6'

### <a name='1'></a> Ćwiczenie 151
Podany jest poniższy obiekt _DataFrame:_

```
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
```

Wytnij wiersze obiektu _df_ dla których kolumna _C_ jest większa niż 0.8.  
Pomocniczo: Analogicznie jak w jezyku SQL poniższe zapytanie:


```
SELECT * FROM df WHERE C > 0.8
```

In [40]:
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
df[df['C'] > 0.8]

          A         B         C         D
0  0.594131  0.380891  0.969914  0.842119
2  0.056375  0.864722  0.812901  0.999718
8  0.551907  0.560938  0.876654  0.403483

### <a name='2'></a> Ćwiczenie 152

Wytnij wiersze obiektu _df_ dla których kolumna _C_ jest większa niż 0.3 oraz kolumna _D_ jest mniejsza niż 0.7.

In [55]:
df.loc[(df['C'] > 0.3) & (df['C'] < 0.7)]

          A         B         C         D
1  0.838329  0.468693  0.414820  0.273407
4  0.849647  0.247348  0.450544  0.129159
7  0.520308  0.772318  0.520164  0.852182

### <a name='3'></a> Ćwiczenie 153
Dokonaj iteracji po pierwszych pięciu wierszach obiektu _df_. Każdy wiersz wydrukuj do konsoli.

__Wskazówka:__ Wykorzystaj funkcję _pd.DataFrame.iterrows()_.

In [41]:
df

          A         B         C         D
0  0.594131  0.380891  0.969914  0.842119
1  0.838329  0.468693  0.414820  0.273407
2  0.056375  0.864722  0.812901  0.999718
3  0.996637  0.555432  0.768987  0.944766
4  0.849647  0.247348  0.450544  0.129159
5  0.954051  0.606175  0.228643  0.671701
6  0.618128  0.358163  0.113558  0.671573
7  0.520308  0.772318  0.520164  0.852182
8  0.551907  0.560938  0.876654  0.403483
9  0.134015  0.028783  0.755137  0.620310

In [42]:
for index, row in df.head().iterrows():
  print(row)

A    0.594131
B    0.380891
C    0.969914
D    0.842119
Name: 0, dtype: float64
A    0.838329
B    0.468693
C    0.414820
D    0.273407
Name: 1, dtype: float64
A    0.056375
B    0.864722
C    0.812901
D    0.999718
Name: 2, dtype: float64
A    0.996637
B    0.555432
C    0.768987
D    0.944766
Name: 3, dtype: float64
A    0.849647
B    0.247348
C    0.450544
D    0.129159
Name: 4, dtype: float64

### <a name='4'></a> Ćwiczenie 154
Ustaw wartość w wierszu o indeksie 3 dla kolumny B jako _np.nan_.
Wykorzystaj _df.iloc_.

In [43]:
df

          A         B         C         D
0  0.594131  0.380891  0.969914  0.842119
1  0.838329  0.468693  0.414820  0.273407
2  0.056375  0.864722  0.812901  0.999718
3  0.996637  0.555432  0.768987  0.944766
4  0.849647  0.247348  0.450544  0.129159
5  0.954051  0.606175  0.228643  0.671701
6  0.618128  0.358163  0.113558  0.671573
7  0.520308  0.772318  0.520164  0.852182
8  0.551907  0.560938  0.876654  0.403483
9  0.134015  0.028783  0.755137  0.620310

In [44]:
df.iloc[3,1] = np.nan # BARDZO WAŻNE !!!!!
df

          A         B         C         D
0  0.594131  0.380891  0.969914  0.842119
1  0.838329  0.468693  0.414820  0.273407
2  0.056375  0.864722  0.812901  0.999718
3  0.996637       NaN  0.768987  0.944766
4  0.849647  0.247348  0.450544  0.129159
5  0.954051  0.606175  0.228643  0.671701
6  0.618128  0.358163  0.113558  0.671573
7  0.520308  0.772318  0.520164  0.852182
8  0.551907  0.560938  0.876654  0.403483
9  0.134015  0.028783  0.755137  0.620310

Ustaw wartość w wierszu o indeksie 8 dla kolumny D jako _np.nan_. Wykorzystaj _df.loc_.

In [45]:
df.loc[8, 'D'] = np.nan # RÓWNIEŻ BARDZO WAŻNE
df

          A         B         C         D
0  0.594131  0.380891  0.969914  0.842119
1  0.838329  0.468693  0.414820  0.273407
2  0.056375  0.864722  0.812901  0.999718
3  0.996637       NaN  0.768987  0.944766
4  0.849647  0.247348  0.450544  0.129159
5  0.954051  0.606175  0.228643  0.671701
6  0.618128  0.358163  0.113558  0.671573
7  0.520308  0.772318  0.520164  0.852182
8  0.551907  0.560938  0.876654       NaN
9  0.134015  0.028783  0.755137  0.620310

Wyświetl obiekt _df_.

In [46]:
df

          A         B         C         D
0  0.594131  0.380891  0.969914  0.842119
1  0.838329  0.468693  0.414820  0.273407
2  0.056375  0.864722  0.812901  0.999718
3  0.996637       NaN  0.768987  0.944766
4  0.849647  0.247348  0.450544  0.129159
5  0.954051  0.606175  0.228643  0.671701
6  0.618128  0.358163  0.113558  0.671573
7  0.520308  0.772318  0.520164  0.852182
8  0.551907  0.560938  0.876654       NaN
9  0.134015  0.028783  0.755137  0.620310

### <a name='5'></a> Ćwiczenie 155
Usuń wszystkie wiersze z obiektu _df_ zawierające braki danych i przypisz do zmiennej _df1_. Wyświetl zmienną _df1_.

In [48]:
#ewentualnie
# df1= df.dropna()
# df1

In [47]:
df1 = df.drop([3,8],axis=0)
df1

          A         B         C         D
0  0.594131  0.380891  0.969914  0.842119
1  0.838329  0.468693  0.414820  0.273407
2  0.056375  0.864722  0.812901  0.999718
4  0.849647  0.247348  0.450544  0.129159
5  0.954051  0.606175  0.228643  0.671701
6  0.618128  0.358163  0.113558  0.671573
7  0.520308  0.772318  0.520164  0.852182
9  0.134015  0.028783  0.755137  0.620310

### <a name='6'></a> Ćwiczenie 156
Zauważ, że indeks po usunięciu dwóch wieszy w obiekcie _df1_ nie jest po kolei. Zresetuj indeks, aby wprowadzić kolejność (nie dodawaj nowej kolumny, tylko zreseuj indeks). Wyświetl zmienną _df1_.

In [52]:
df1 = df1.reset_index(drop=True)
df1

          A         B         C         D
0  0.594131  0.380891  0.969914  0.842119
1  0.838329  0.468693  0.414820  0.273407
2  0.056375  0.864722  0.812901  0.999718
3  0.849647  0.247348  0.450544  0.129159
4  0.954051  0.606175  0.228643  0.671701
5  0.618128  0.358163  0.113558  0.671573
6  0.520308  0.772318  0.520164  0.852182
7  0.134015  0.028783  0.755137  0.620310

### <a name='7'></a> Ćwiczenie 157
Wracamy do obiektu _df_. Wyznacz liczbę brakujących elementów w obiekcie _df_ dla każdej kolumny.

In [57]:
df.isnull().sum()

A    0
B    1
C    0
D    1
dtype: int64

### <a name='8'></a> Ćwiczenie 158
Uzupełnij brakujące wartości wartością 0 i przypisz do zmiennej _df_.

BARDZO WAŻNE I NAJBARDZIEJ KLUCZOWE WYPEŁNIENIE 0 TAM GDZIE NAN !!!!!!!!!

In [59]:
# zwroc na mnie uwage heh :))

In [62]:
df = df.fillna(0)
df

          A         B         C         D
0  0.594131  0.380891  0.969914  0.842119
1  0.838329  0.468693  0.414820  0.273407
2  0.056375  0.864722  0.812901  0.999718
3  0.996637  0.000000  0.768987  0.944766
4  0.849647  0.247348  0.450544  0.129159
5  0.954051  0.606175  0.228643  0.671701
6  0.618128  0.358163  0.113558  0.671573
7  0.520308  0.772318  0.520164  0.852182
8  0.551907  0.560938  0.876654  0.000000
9  0.134015  0.028783  0.755137  0.620310

### <a name='9'></a> Ćwiczenie 159
Zamień kolejność kolumn w obiekcie _df_ na podaną poniżej:
* D, A, B, C  

i przypisz do zmiennej _df_.

In [64]:
df = df[['D','A','B','C']]
df

          D         A         B         C
0  0.842119  0.594131  0.380891  0.969914
1  0.273407  0.838329  0.468693  0.414820
2  0.999718  0.056375  0.864722  0.812901
3  0.944766  0.996637  0.000000  0.768987
4  0.129159  0.849647  0.247348  0.450544
5  0.671701  0.954051  0.606175  0.228643
6  0.671573  0.618128  0.358163  0.113558
7  0.852182  0.520308  0.772318  0.520164
8  0.000000  0.551907  0.560938  0.876654
9  0.620310  0.134015  0.028783  0.755137

### <a name='10'></a> Ćwiczenie 160
Usuń kolumnę $D$ z obiektu _df_.

In [71]:
#del df['D'] EWENTUALNIE TO DZIAŁA JEDNAK USUWA NA STAŁE WARTO UWAZAC

In [68]:
df

          A         B         C
0  0.594131  0.380891  0.969914
1  0.838329  0.468693  0.414820
2  0.056375  0.864722  0.812901
3  0.996637  0.000000  0.768987
4  0.849647  0.247348  0.450544
5  0.954051  0.606175  0.228643
6  0.618128  0.358163  0.113558
7  0.520308  0.772318  0.520164
8  0.551907  0.560938  0.876654
9  0.134015  0.028783  0.755137

In [65]:
df.drop('D',axis=1)

          A         B         C
0  0.594131  0.380891  0.969914
1  0.838329  0.468693  0.414820
2  0.056375  0.864722  0.812901
3  0.996637  0.000000  0.768987
4  0.849647  0.247348  0.450544
5  0.954051  0.606175  0.228643
6  0.618128  0.358163  0.113558
7  0.520308  0.772318  0.520164
8  0.551907  0.560938  0.876654
9  0.134015  0.028783  0.755137